@mixin navpad {
  padding: 2rem 5.5rem;
  //box-shadow: 0rem .1rem .2rem rgba($color-black, .3);
}

@mixin sectpad {
  padding: 4rem 5.5rem;


   @include screen(tab-port){
   padding: 4rem 4.5rem;
   }

   @include screen(mobile-port){
   padding: 4rem 2rem;
   }



}

@mixin min-sectpad {
  padding: 4.7rem 4rem;
}

////   BREAKPOINTS
//-sm-mobbile : 412px
// - mobile-port : 440px
// - mobile-land : 915px
//  -tab-port : 820px
//  - tab-land : 1180px
//  - lg : 1280px
//  - X-lg : 1440px
//  - XX-lg : 1920px

@mixin screen($breakpoint) {


  @if $breakpoint == sm-mobile {
    @media (max-width: 25.75em) {
      @content;
    }
  }


  @if $breakpoint == mobile-port {
    @media (max-width: 27.5em) {
      @content;
    }
  }


  @if $breakpoint == mobile-land {
    @media (max-width: 57.19em) and (orientation: landscape) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 51.25em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 73.75em) and (orientation: landscape) {
      @content;
    }
  }


  @if $breakpoint == lg {
    @media (max-width: 80em) {
      @content;
    }
  }


  @if $breakpoint == X-lg {
    @media (min-width: 90em) {
      @content;
    }
  }


  @if $breakpoint == XX-lg {
    @media (min-width: 120em) {
      @content;
    }
  }

}
