@import url('https://fonts.cdnfonts.com/css/nunito-sans');


@import url('https://fonts.cdnfonts.com/css/bagel-fat-one');

//font

$primary-font: "Nunito Sans", sans-serif;
$secondary-font: "bagel fat one", Sans-serif;

// color

$color-primary: #fffbeb;
$color-secondary: #feccaa;
$color-text: #71717a;
$color-blue: #2d4b7b;
$color-skyblue: #e0eef9;

$color-black: #000;
$color-white: #fff;

$color-logo-text: #fb8a3c;


$color-shadow: rgba($color-black,.3);

$color-nav: #1f2937; 

$color-heading: #fb8a3c;




/// color theme
