
@import url('https://fonts.cdnfonts.com/css/bagel-fat-one');


@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

//font

$primary-font: "inter", sans-serif;
$secondary-font: "bagel fat one", Sans-serif;

// colors

$color-primary: #fafaf9;
$color-secondary: #feccaa;
$color-nav: #1f2937; 
$color-btn: #ff9625;
$color-text: #111111;
$color-blue: #2d4b7b;
$color-skyblue: #e0eef9;

$color-black: #000;
$color-white: #fff;

// discord.gg/mazarence


$color-shadow: rgba($color-black,.2);


$color-heading: #ff8934;




/// color theme
