.about {
  @include sectpad;
  display: flex;
  overflow: hidden;
  //background: $color-secondary;

  &-text {
    font-size: 1.7rem;
    width: 60%;
    margin: 0 auto;
  }

  &-details {
    display: grid;
    align-items: center;
    grid-gap: 3rem;
    grid-auto-flow: column;
    padding: 5rem;

    &-card {
      width: 26rem;
      height: 100%;
      padding: 1.5rem;
      box-shadow: 0 0.2rem 0.7rem $color-shadow;
      border-radius: 1rem;
      background: $color-white;

      &-image {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        //justify-content: center;
        padding-bottom: 2rem;

        & img {
          height: 3rem;
        }

        .card-title {
          font-size: 1.8rem;
          font-weight: 700;
        }

        .card-description {
          font-size: 1.5rem;
          font-weight: 500;
          padding-inline: 2rem;
        }
      }
    }
  }

  &-chef {
    position: relative;
    padding-block: 2rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .chef {
      border-radius: 1rem;
      width: 100%;
      object-fit: cover;
      max-width: 60rem;
      mask-image: linear-gradient(
        to top,
        transparent 0%,
        transparent 4%,
        $color-white 50%
      );
    }

    &-description {
      flex-basis: 48%;
    }

    .chef-title {
      font-size: 4rem;
      font-weight: 700;
      color: $color-blue;
    }

    .chef-role {
      font-size: 2rem;
      color: $color-blue;
      font-weight: 600;
      font-style: italic;
    }

    .chef-text {
      margin-top: 2rem;
    }
  }

  /// COLLAGE

  &-collage-container {
    text-align: center;
  }

  &-collage {
    width: 100%;
    // margin-top: 1.6rem;
    box-shadow: 0 0.1rem 0.4rem $color-shadow;
  }
}

.visible{
  transform: scale(1);
}