.sponsors {
  @include sectpad;
  overflow: hidden;

  &-description {
    text-align: center;
    margin: 0 auto;

    @include screen(mobile-port) {
      @include mobile-font;
    }
  }

  &-content {
    margin-top: 2.5rem;
    position: relative;
    white-space: nowrap;

    &:hover .sponsors-carousel {
      animation-play-state: paused;
    }

    &::after,
    &::before {
      content: "";
      height: 100%;
      width: 11rem;
      position: absolute;
    }

    &::after {
      left: -5%;
      top: 0;
      background: linear-gradient(to right, $color-primary 40%, transparent);

      @include screen(lg) {
        left: -6%;
      }

      @include screen(tab-port) {
        left: -10%;
      }

      @include screen(mobile-port) {
        left: -14%;
      }

      @include screen(sm-mobile) {
        left: -15%;
      }
      
    }

    &::before {
      right: -5%;
      z-index: 2;
      background: linear-gradient(to left, $color-primary 40%, transparent);

      @include screen(lg) {
        right: -6%;
      }

      @include screen(tab-port) {
        right: -10%;
      }

      @include screen(mobile-port) {
        right: -14%;
      }

      @include screen(sm-mobile) {
        right: -15%;
      }
    }
  }

  &-carousel {
    display: inline-block;
    align-items: center;
    animation: slides 20s linear infinite;

    &-img {
      width: 20rem;
      height: 6rem;
      margin-inline: 3.5rem;
    }
  }
}

@keyframes slides {
  from {
    transform: translateY(0);
  }

  to {
    transform: translatex(-100%);
  }
}
