body {
  font-family: $primary-font;
  color: $color-text;
  font-weight: 300;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
  color: $color-heading;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1;

  @include screen(XX-lg) {
    font-size: 7.6rem;
  }

  @include screen(X-lg) {
    font-size: 6.4rem;
  }

  @include screen(tab-port) {
    font-size: 6rem;
  }

  @include screen(mobile-port) {
    font-size: 5.5rem;
  }
}

.secondary-heading {
  font-size: 5.5rem;
  font-weight: 700;
  color: $color-heading;
  letter-spacing: 0.2rem;
  line-height: 1;
  padding: 2rem;
  text-align: center;
}

.tertiary-heading {
  font-size: 4rem;
  font-weight: 700;
  color: $color-heading;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 2rem;
  text-align: center;
}

.small-font {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: inherit;

  
  @include screen(tab-port) {
    @include mobile-font;
  }
}

.normal-font {
  font-size: 1.7rem;
  line-height: 1.5;

  @include screen(tab-port) {
    @include mobile-font;
  }
}
