@import url("https://fonts.cdnfonts.com/css/nunito-sans");
@import url("https://fonts.cdnfonts.com/css/bagel-fat-one");
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background: #feccaa;
  color: #000;
}

html {
  font-size: 62.5%;
}
@media (min-width: 120em) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 90em) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 38.13em) {
  html {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  background: #fffbeb;
}

ul * {
  list-style: none;
}

* a,
a:link,
a:visited {
  text-decoration: none;
}

input {
  outline: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #71717a;
  font-weight: 300;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
  color: #fb8a3c;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1;
}
@media (min-width: 120em) {
  .primary-heading {
    font-size: 7.6rem;
  }
}
@media (min-width: 90em) {
  .primary-heading {
    font-size: 6.4rem;
  }
}
@media (max-width: 56.25em) {
  .primary-heading {
    font-size: 6rem;
  }
}
@media (max-width: 38.13em) {
  .primary-heading {
    font-size: 5.5rem;
  }
}

.secondary-heading {
  font-size: 5.5rem;
  font-weight: 700;
  color: #fb8a3c;
  letter-spacing: 0.2rem;
  line-height: 1;
  padding: 2rem;
  text-align: center;
}

.tertiary-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fb8a3c;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 2rem;
  text-align: center;
}

.small-font {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: inherit;
}
@media (max-width: 56.25em) {
  .small-font {
    font-size: 2rem;
  }
}

.normal-font {
  font-size: 1.7rem;
  line-height: 1.5;
}
@media (max-width: 56.25em) {
  .normal-font {
    font-size: 2rem;
  }
}

.navbar {
  padding: 2rem 5.5rem;
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  margin-bottom: 50rem;
}
.navbar.shadow {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-out;
}
.navbar-logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.navbar-logo-text {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-family: "bagel fat one", Sans-serif;
  color: #fb8a3c;
  text-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}
.navbar-logo-img {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fb8a3c;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
}
.navbar-nav {
  display: flex;
  position: relative;
}
@media (max-width: 56.25em) {
  .navbar-nav {
    display: block;
    text-align: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 55%;
    padding: 2.5rem;
    background: #1f2937;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 3;
    transition: 0.2s ease;
  }
  .navbar-nav.show {
    left: 0;
  }
}
@media (max-width: 57.19em) and (orientation: landscape) {
  .navbar-nav {
    height: 100%;
  }
}
@media (max-width: 21.88em) {
  .navbar-nav {
    height: 100%;
  }
}
.navbar-item {
  display: flex;
  column-gap: 2.5rem;
}
@media (max-width: 56.25em) {
  .navbar-item {
    flex-direction: column;
    row-gap: 2.5rem;
    margin-block: 5rem 3rem;
  }
}
.navbar-list {
  font-size: 1.3rem;
  font-weight: 600;
}
@media (max-width: 56.25em) {
  .navbar-list {
    font-size: 3rem;
  }
}
.navbar-link {
  text-transform: capitalize;
  color: #fff;
  transition: color 0.3s;
}
.navbar-link:hover {
  color: #fb8a3c;
}
.navbar-toggle {
  display: none;
}
@media (max-width: 56.25em) {
  .navbar-toggle {
    display: block;
    width: 3rem;
    height: 3rem;
    fill: #fff;
    cursor: pointer;
  }
}
.navbar-close {
  width: 6rem;
  height: 6rem;
  display: none;
}
@media (max-width: 56.25em) {
  .navbar-close {
    display: block;
    position: absolute;
    right: 5rem;
  }
}
.navbar-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-overlay.visible {
  display: block;
}
.navbar-back-btn {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  fill: #fb8a3c;
  transform: rotate(180deg);
}
.navbar-theme {
  position: relative;
  margin-left: 10rem;
  padding-right: 1rem;
}
@media (max-width: 73.75em) and (orientation: landscape) {
  .navbar-theme {
    margin-left: 6rem;
    padding: 0;
  }
}
@media (max-width: 56.25em) {
  .navbar-theme {
    float: right;
    bottom: 0rem;
    right: 5rem;
  }
}
.navbar-theme-icon {
  position: absolute;
  fill: #fff;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: fill 0.3s;
  display: none;
}
@media (max-width: 56.25em) {
  .navbar-theme-icon {
    width: 5rem;
    height: 5rem;
  }
}
.navbar-theme-icon.activate {
  display: block;
}
.navbar-theme-icon:hover {
  fill: #fb8a3c;
}

.active-btn {
  background: linear-gradient(30deg, #feccaa 0%, #fb8a3c 60%);
  padding: 0.6rem 1.2rem;
  border-radius: 0.7rem;
  color: #fff;
  /* add active :active */
}
.active-btn:hover {
  color: #fff;
}

.cta-btn {
  background: linear-gradient(180deg, #feccaa 0%, #fb8a3c 60%);
  padding: 0.6rem 1.2rem;
  border-radius: 0.7rem;
  color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.cta-btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.filter-btn {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.11rem;
  border: none;
  cursor: pointer;
}

.modal-btn {
  border: none;
  cursor: pointer;
  background: #fb8a3c;
  color: initial;
  padding: 2rem;
  border-radius: 2.5rem;
  font-weight: 500;
  filter: contrast(180%);
  transition: filter 0.3s, color 0.3s;
}
.modal-btn:last-child {
  background: #feccaa;
}
.modal-btn:last-child:hover {
  filter: contrast(150%);
}
.modal-btn:hover {
  filter: contrast(150%);
}

.hero {
  flex-basis: 50%;
}
.hero h1,
.hero span {
  color: #943618;
}
.hero span {
  font-size: 4rem;
  font-weight: 400;
  text-transform: none;
}
.hero-description {
  width: 100%;
  padding-block: 1.5rem 3.5rem;
  color: #000;
}
@media (max-width: 38.13em) {
  .hero-description {
    font-size: 1.8rem;
  }
}
.hero-btn {
  display: flex;
  column-gap: 1rem;
  font-size: 1.4rem;
}
.hero-btn a {
  background: #943618;
}
.hero-active {
  display: flex;
  column-gap: 0.6rem;
  align-content: center;
}
.hero-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
  align-self: center;
}
@media (max-width: 38.13em) {
  .hero-icon {
    width: 2.2rem;
    height: 2.2rem;
  }
}
.hero-image {
  width: 100%;
  flex-basis: 50%;
  position: relative;
}
@media (max-width: 56.25em) {
  .hero-image {
    padding-top: 10rem;
  }
}
.hero-image .dish-1,
.hero-image .dish-2 {
  position: absolute;
  filter: drop-shadow(0 2px 0.5rem rgba(0, 0, 0, 0.3));
}
.hero-image .dish-1 {
  width: 7rem;
  height: 7rem;
  top: 0;
  left: 8rem;
  animation: display-in 1.4s ease-out;
  animation-fill-mode: backwards;
}
@media (min-width: 120em) {
  .hero-image .dish-1 {
    width: 10rem;
    height: 10rem;
    top: 3rem;
  }
}
@media (min-width: 90em) {
  .hero-image .dish-1 {
    width: 8rem;
    height: 8rem;
    left: 0rem;
  }
}
@media (max-width: 56.25em) {
  .hero-image .dish-1 {
    width: 12rem;
    height: 12rem;
    top: 5rem;
  }
}
@media (max-width: 38.13em) {
  .hero-image .dish-1 {
    display: none;
  }
}
.hero-image .dish-2 {
  height: 7rem;
  right: 4rem;
  bottom: 2rem;
  animation: display-late 3s ease-out;
  animation-fill-mode: backwards;
}
@media (min-width: 120em) {
  .hero-image .dish-2 {
    height: 10rem;
  }
}
@media (min-width: 90em) {
  .hero-image .dish-2 {
    height: 8rem;
    right: 1rem;
    bottom: 1rem;
  }
}
@media (max-width: 56.25em) {
  .hero-image .dish-2 {
    height: 12rem;
  }
}
@media (max-width: 38.13em) {
  .hero-image .dish-2 {
    display: none;
  }
}
.hero-image .slide-in {
  width: 100%;
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
  animation: slide-in 2s cubic-bezier(0.61, 1, 0.88, 1);
  animation-fill-mode: backwards;
}

@keyframes display-in {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6);
  }
}
@keyframes display-late {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
}
@keyframes slide-in {
  0%, 50% {
    transform: translateX(30rem) rotate(60deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
.cards {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
@media (max-width: 38.13em) {
  .cards {
    padding-inline: 2rem;
  }
}
.cards p {
  text-align: center;
}
@media (max-width: 38.13em) {
  .cards p {
    font-size: 2rem;
  }
}
.cards-container {
  max-width: 120rem;
  position: relative;
}
@media (max-width: 38.13em) {
  .cards-container {
    width: 100%;
  }
}
.cards-container-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 1.2rem);
  justify-items: center;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
@media (max-width: 56.25em) {
  .cards-container-list {
    grid-auto-columns: calc(50% - 1.2rem);
  }
}
@media (max-width: 38.13em) {
  .cards-container-list {
    grid-auto-columns: calc(95.2380952381% - 1.5rem);
  }
}
.cards-container-slide {
  width: 100%;
  overflow-x: hidden;
  padding: 2rem 1rem;
  scroll-snap-align: start;
}
@media (max-width: 56.25em) {
  .cards-container-slide {
    padding-inline: 0.5rem;
  }
}
.cards-container-content {
  background: linear-gradient(to top, #f7d5a9 50%, #fff3b4 80%);
  padding: 2rem 0.5rem;
  width: 100%;
  height: auto;
  text-align: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  transition: border 0.4s;
}
@media (max-width: 56.25em) {
  .cards-container-content {
    padding-inline: 0;
    height: auto;
  }
}
.cards-container-content:hover {
  border: 2px solid #fb8a3c;
}
.cards-container-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  border-radius: 0.5rem;
}
.cards-title {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  margin-block: 0.5rem;
  color: #000;
}
.cards-title-text {
  font-size: 1.7rem;
  font-weight: 700;
}
@media (max-width: 38.13em) {
  .cards-title-text {
    font-size: 2rem;
  }
}
.cards-title-description {
  font-size: 1.5rem;
  font-weight: 400;
}
@media (max-width: 38.13em) {
  .cards-title-description {
    font-size: 2rem;
  }
}
.cards-title-price {
  font-size: 1.3rem;
  font-weight: 500;
}
@media (max-width: 38.13em) {
  .cards-title-price {
    font-size: 2rem;
  }
}
.cards-rating {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}
.cards-rating-icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: #ffe600;
}
.cards-navigation {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 38.13em) {
  .cards-navigation {
    column-gap: 5rem;
  }
}
.cards-navigation-btn {
  background: #fb8a3c;
  padding: 1rem;
  display: flex;
  border-radius: 50%;
}
.cards-navigation-icon {
  padding: 0.3rem;
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
  cursor: pointer;
}
.cards-navigation-icon.prev {
  transform: rotate(180deg);
}
.cards .grab {
  cursor: grab;
  scroll-behavior: auto;
  scroll-snap-type: none;
}
.cards .no-scroll {
  scroll-behavior: auto;
}

.footer {
  padding: 4.7rem 4rem;
  background: #1f2937;
}
@media (min-width: 90em) {
  .footer {
    padding-inline: 2rem;
  }
}
@media (max-width: 38.13em) {
  .footer {
    padding-inline: 1.3rem;
  }
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 68.75em) {
  .footer-container {
    display: block;
  }
}
.footer-left {
  display: flex;
  flex-direction: column;
  row-gap: 3.4rem;
}
@media (max-width: 68.75em) {
  .footer-left {
    margin-bottom: 3rem;
  }
}
.footer-left-text {
  color: #fff;
}
@media (max-width: 38.13em) {
  .footer-left-text {
    font-size: 2rem;
  }
}
.footer-link {
  width: 3.5rem;
  height: 3.5rem;
  fill: #fff;
  margin-inline: 1rem;
  padding: 0.5rem;
  transition: background-color 0.4s ease;
}
.footer-link:hover {
  background-color: #fb8a3c;
  border-radius: 0.5rem;
}
.footer-right {
  display: flex;
  justify-content: space-around;
  height: 20rem;
  width: 100%;
}
@media (max-width: 68.75em) {
  .footer-right {
    display: grid;
    grid-row-gap: 3rem;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}
.footer-right h2 {
  color: #fb8a3c;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.footer-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer-list li {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.4s;
}
.footer-list li:hover {
  color: #fb8a3c;
}
.footer-benediction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
@media (max-width: 56.25em) {
  .footer-benediction {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }
}
.footer-pay {
  display: flex;
  column-gap: 2.5rem;
  margin-right: 2.5rem;
}
@media (max-width: 38.13em) {
  .footer-pay {
    margin: 0;
  }
}
.footer-pay img {
  width: 5rem;
  height: 3.6rem;
  border-radius: 0.5rem;
}

.modal {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.3s;
}
.modal.open {
  visibility: visible;
}
.modal-close {
  width: 5rem;
  height: 5rem;
  fill: #fff;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
@media (max-width: 38.13em) {
  .modal-close {
    top: 10%;
    right: 2rem;
  }
}
.modal-container {
  width: 60%;
  height: auto;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), no-repeat center url(../../Assets/img/membership.jpeg);
  padding: 2rem;
  border: 2px solid #fffbeb;
}
@media (max-width: 38.13em) {
  .modal-container {
    height: 60%;
    width: 98%;
  }
}
.modal-text {
  margin-bottom: 4rem;
}
@media (max-width: 38.13em) {
  .modal-text {
    margin-block: 2.5rem;
  }
}
.modal-benefits {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  margin-bottom: 4rem;
}
@media (max-width: 38.13em) {
  .modal-benefits {
    margin-bottom: 0;
  }
}
.modal-actions {
  display: flex;
  column-gap: 1.5rem;
}
@media (max-width: 38.13em) {
  .modal-actions {
    margin-top: 5rem;
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
.modal-btn {
  font-size: 2rem;
  text-align: center;
}
.modal-apology {
  padding: 20rem 10rem;
}

.header {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 56.25em) {
  .header {
    flex-direction: column-reverse;
    row-gap: 4rem;
  }
}

.about {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}
@media (max-width: 38.13em) {
  .about {
    padding-inline: 2rem;
  }
}
.about-text {
  font-size: 1.7rem;
  line-height: 2.7rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .about-text {
    font-size: 2rem;
    width: 100%;
  }
}
.about-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
  margin: 0 auto;
  padding-block: 5rem;
}
@media (max-width: 38.13em) {
  .about-details {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about-details-card {
  height: 100%;
  padding: 1.5rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background: #fff;
}
.about-details-card-image {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.about-details-card-image img {
  height: 3rem;
}
.about-details-card-image .card-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.about-details-card .card-description {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 500;
  padding-inline: 0.3rem;
}
@media (max-width: 56.25em) {
  .about-details-card .card-description {
    line-height: 1.5;
  }
}
@media (max-width: 38.13em) {
  .about-details-card .card-description {
    font-size: 2rem;
  }
}
.about-chef {
  position: relative;
  padding-block: 2rem 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 68.75em) {
  .about-chef {
    flex-direction: column-reverse;
    row-gap: 4rem;
  }
}
.about-chef .chef {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  max-width: 50rem;
  mask-image: linear-gradient(to top, transparent 0%, transparent 4%, #fff 50%);
}
.about-chef-description {
  flex-basis: 50%;
}
.about-chef .chef-title {
  font-size: 4rem;
  font-weight: 700;
  color: #2d4b7b;
}
.about-chef .chef-role {
  font-size: 2rem;
  color: #2d4b7b;
  font-weight: 600;
  font-style: italic;
}
.about-chef .chef-text {
  margin-top: 2rem;
  width: 100%;
}
@media (max-width: 38.13em) {
  .about-chef .chef-text {
    font-size: 2rem;
  }
}
.about-collage-container {
  text-align: center;
}
@media (max-width: 38.13em) {
  .about-collage-container p {
    font-size: 2rem;
  }
}
@media (max-width: 38.13em) {
  .about-collage-heading {
    font-size: 4rem;
  }
}
.about-collage-img {
  width: 65%;
  margin-top: 2rem;
}
@media (max-width: 56.25em) {
  .about-collage-img {
    width: 100%;
  }
}

.menu {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  text-align: center;
  position: relative;
}
@media (max-width: 38.13em) {
  .menu {
    padding-inline: 2rem;
  }
}
.menu-description {
  margin-bottom: 2rem;
}
@media (max-width: 38.13em) {
  .menu-description {
    font-size: 2rem;
  }
}
.menu-btn {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.menu-container {
  padding-block: 1.5rem;
  display: grid;
  grid-row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 1.2rem;
  margin-block: 6rem 5rem;
  text-align: initial;
}
.menu-image {
  width: 100%;
  height: 40rem;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.7) 70%, rgba(254, 204, 170, 0.9) 30%);
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: border 0.3s;
}
.menu-image .love {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}
.menu-image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: transform 0.3s;
}
.menu-image-title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
@media (max-width: 38.13em) {
  .menu-image-title {
    font-size: 2rem;
  }
}
.menu-image-title-description {
  font-size: 1.4rem;
  line-height: 1.4;
}
@media (max-width: 38.13em) {
  .menu-image-title-description {
    font-size: 1.8rem;
  }
}
.menu-image-title-description::first-line {
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
}
.menu-image-title-rating {
  background: #fff;
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}
.menu-image-title-rating svg {
  width: 2rem;
  height: 2rem;
  fill: #ffca12;
}
.menu-image-title-rating p {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 38.13em) {
  .menu-image-title-rating p {
    font-size: 2rem;
  }
}

.back-btn {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-top: 10rem;
  margin-left: 3rem;
  fill: #fb8a3c;
  border-radius: 50%;
}

.active {
  background: #1f2937;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
}
.active:hover {
  filter: brightness(200%);
}

.Inactive {
  display: none;
}

.sponsors {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  overflow: hidden;
}
.sponsors-description {
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 38.13em) {
  .sponsors-description {
    font-size: 2rem;
  }
}
.sponsors-content {
  margin-top: 2.5rem;
  position: relative;
  white-space: nowrap;
}
.sponsors-content:hover .sponsors-carousel {
  animation-play-state: paused;
}
.sponsors-content::after, .sponsors-content::before {
  content: "";
  height: 100%;
  width: 11rem;
  position: absolute;
}
.sponsors-content::after {
  left: -5%;
  top: 0;
  background: linear-gradient(to right, #fffbeb 40%, transparent);
}
@media (max-width: 80em) {
  .sponsors-content::after {
    left: -6%;
  }
}
@media (max-width: 56.25em) {
  .sponsors-content::after {
    left: -10%;
  }
}
@media (max-width: 38.13em) {
  .sponsors-content::after {
    left: -14%;
  }
}
@media (max-width: 21.88em) {
  .sponsors-content::after {
    left: -15%;
  }
}
.sponsors-content::before {
  right: -5%;
  z-index: 2;
  background: linear-gradient(to left, #fffbeb 40%, transparent);
}
@media (max-width: 80em) {
  .sponsors-content::before {
    right: -6%;
  }
}
@media (max-width: 56.25em) {
  .sponsors-content::before {
    right: -10%;
  }
}
@media (max-width: 38.13em) {
  .sponsors-content::before {
    right: -14%;
  }
}
@media (max-width: 21.88em) {
  .sponsors-content::before {
    right: -15%;
  }
}
.sponsors-carousel {
  display: inline-block;
  align-items: center;
  animation: slides 20s linear infinite;
}
.sponsors-carousel-img {
  width: 20rem;
  height: 6rem;
  margin-inline: 3.5rem;
}

@keyframes slides {
  from {
    transform: translateY(0);
  }
  to {
    transform: translatex(-100%);
  }
}
.faq {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
}
@media (max-width: 56.25em) {
  .faq {
    padding: 3rem 2rem;
  }
}
.faq-text {
  text-align: center;
}
@media (max-width: 38.13em) {
  .faq-text {
    display: none;
  }
}
.faq-accordion {
  margin-top: 4rem;
}
.faq-accordion-content {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .faq-accordion-content {
    width: 100%;
  }
}
.faq-list {
  display: block;
}
.faq-question {
  display: flex;
  padding-inline: 1.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1.3rem;
}
.faq-question p {
  font-weight: 700;
}
.faq-icon {
  width: 1.5rem;
  height: 2rem;
  fill: currentColor;
  transition: transform 0.2s;
}
.faq-answer {
  font-size: 1.5rem;
  padding-inline: 3rem;
  padding-bottom: 1rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  will-change: height, opacity, visibility;
}
@media (max-width: 38.13em) {
  .faq-answer {
    font-size: 1.8rem;
  }
}
.faq .faq-question[aria-expanded=true] .faq-question {
  background: #fffbeb;
  padding: 2rem;
}
.faq .faq-question[aria-expanded=true] .faq-icon {
  transform: rotate(180deg);
}
.faq .faq-question[aria-expanded=true] ~ .faq-answer {
  visibility: visible;
  opacity: 1;
  height: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 38.13em) {
  .faq .faq-question[aria-expanded=true] ~ .faq-answer {
    margin-bottom: 5rem;
  }
}

.testimonials {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
}
@media (max-width: 38.13em) {
  .testimonials {
    padding-inline: 2rem;
  }
}
.testimonials strong {
  font-size: 9rem;
  text-shadow: 0 0.2rem 0.5rem #fb8a3c;
}
.testimonials-description {
  text-align: center;
  font-weight: 500;
}
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
}
@media (max-width: 38.13em) {
  .testimonials-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.testimonials-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
}
.testimonials-text {
  font-weight: 500;
}
@media (max-width: 38.13em) {
  .testimonials-text {
    font-size: 2rem;
  }
}
.testimonials-details {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.testimonials-details img {
  width: 5rem;
  border-radius: 50%;
}
.testimonials-name {
  font-weight: 600;
}
@media (max-width: 38.13em) {
  .testimonials-name {
    font-size: 2rem;
  }
}
.testimonials-role {
  font-size: 1.3rem;
}
@media (max-width: 38.13em) {
  .testimonials-role {
    font-size: 1.6rem;
  }
}

.contact {
  padding-block: 10rem 6rem;
  padding-inline: 5.5rem;
  display: block;
}
@media (max-width: 56.25em) {
  .contact {
    padding: 0;
  }
}
.contact-description {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
@media (max-width: 38.13em) {
  .contact-description {
    font-size: 2rem;
  }
}
.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.842) 60%, rgba(255, 255, 255, 0.842) 50%, transparent 50%), no-repeat center url(../.././Assets/img/bg-contact.jpg);
  width: 100%;
  height: 50rem;
}
@media (max-width: 68.75em) {
  .contact-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
}
@media (max-width: 38.13em) {
  .contact-container {
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.842) 75%, rgba(255, 255, 255, 0.842) 50%, transparent 50%), no-repeat center url(../.././Assets/img/bg-contact.jpg);
  }
}
.contact-content {
  margin-block: 2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 38.13em) {
  .contact-content {
    font-size: 2rem;
    font-weight: 500;
  }
}
.contact-content img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.contact-content strong {
  font-weight: 800;
  margin-right: 1.5rem;
}
.contact-form {
  padding: 3rem;
  border-radius: 0.5rem;
}
@media (max-width: 38.13em) {
  .contact-form {
    width: 100%;
    padding: 3rem 2rem;
  }
}
.contact-form-input {
  padding-block: 1rem;
}
.contact-form-input input,
.contact-form-input textarea {
  font-size: 1.6rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  width: 50rem;
  height: 4rem;
  border-radius: 0.3rem;
  resize: none;
  font-family: inherit;
}
@media (max-width: 38.13em) {
  .contact-form-input input,
  .contact-form-input textarea {
    font-size: 2rem;
    width: 100%;
  }
}
.contact-form-input textarea {
  padding-block: 1rem;
  height: 15rem;
}

.member {
  padding: 4.7rem 4rem;
}
@media (min-width: 90em) {
  .member {
    padding-inline: 2rem;
  }
}
@media (max-width: 38.13em) {
  .member {
    padding-inline: 1.3rem;
  }
}
.member-content {
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.9) 70%, transparent 120%), center no-repeat url(../../Assets/img/member-bg.jpg);
  background-size: cover;
  height: 50rem;
  text-align: center;
}
.member-heading {
  padding-top: 10rem;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 2rem;
}
@media (max-width: 38.13em) {
  .member-heading:first-child {
    display: none;
  }
}
.member-heading:nth-child(2) {
  padding-top: 0;
}
@media (max-width: 38.13em) {
  .member-heading:nth-child(2) {
    padding-top: 6rem;
  }
}
.member-heading span {
  font-size: 4.5rem;
  line-height: 5.5rem;
  text-transform: capitalize;
  color: #fb8a3c;
}
.member-form {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (max-width: 38.13em) {
  .member-form {
    padding-inline: 1rem;
  }
}
.member-email {
  border: none;
  outline: none;
  padding: 1rem;
  width: 50%;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
@media (max-width: 38.13em) {
  .member-email {
    width: 100%;
    height: 5rem;
  }
}
.member-btn {
  width: 5rem;
  background: #fb8a3c;
  fill: #fff;
  border: none;
  height: 3.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.member-btn:hover {
  filter: brightness(110%);
}
@media (max-width: 38.13em) {
  .member-btn {
    height: 5rem;
  }
}

body.dark-theme {
  background: rgba(31, 41, 55, 0.94);
  color: #fff;
  transition: 0.3s;
}
body.dark-theme .hero h1,
body.dark-theme .hero span {
  color: #d4552a;
}
body.dark-theme .hero-description {
  color: #fff;
}
body.dark-theme .about-details-card {
  background: rgba(255, 255, 255, 0.1);
}
body.dark-theme .card {
  background: #333;
}
body.dark-theme .card-title, body.dark-theme .card-description {
  color: #fff;
}
body.dark-theme .about-chef .chef-title,
body.dark-theme .about-chef .chef-role {
  color: #3291df;
}
body.dark-theme .menu-image {
  background: linear-gradient(120deg, rgba(95, 95, 95, 0.8235294118) 70%, rgba(252, 175, 124, 0.9019607843) 30%);
}
body.dark-theme .menu-image-title-description {
  color: #fff;
}
body.dark-theme .menu-image-title-description::first-line {
  color: #fff;
}
body.dark-theme .sponsors-content::after {
  background: linear-gradient(to right, #2c3643 40%, transparent);
}
body.dark-theme .sponsors-content::before {
  background: linear-gradient(to left, #2c3643 40%, transparent);
}
body.dark-theme .testimonials-card {
  background: rgba(255, 255, 255, 0.2588235294);
  color: #fff;
}
body.dark-theme .contact-content {
  color: #000;
}
body.dark-theme .navbar-theme-icon.moon {
  display: none;
}
body.dark-theme .navbar-theme-icon.sun {
  display: block;
}

/*# sourceMappingURL=style.css.map */
