.member {
  @include min-sectpad;

  &-content {
    background: linear-gradient(
        to bottom right,
        rgba($color-black, 0.9) 50%,
        transparent 80%
      ),
      center no-repeat url(../../Assets/img/member-bg.jpg);
    background-size: cover;
    height: 50rem;
    @include min-sectpad;
  }

  &-heading {
    padding-top: 10rem;
    font-size: 4rem;
    color: $color-white;
    text-align: center;

    @include screen(mobile-port) {
      padding-top: 5rem;
    }

    & span {
      font-size: 5.5rem;
      font-weight: bolder;
      line-height: 5.5rem;
      text-transform: capitalize;
      color: $color-heading;
    }
  }

  &-text {
    font-size: 2rem;
    color: $color-white;
    margin-top: 5rem;
    padding-bottom: 2rem;

    @include screen(mobile-port) {
      @include mobile-font;
    }
  }

  & button {
    background: $color-btn;
    color: #ffffff;
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    transition: 0.4s ease;

    &:hover {
      background: rgba($color-btn, 0.9);
    }
  }
}
